*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(246,248,249);
 
}
header{
  background-color: white;
  height: 80px;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  background-color: white;

}

/* intestazione */
 header img{
 
  height: 60px;
  vertical-align: middle;
  margin-left: 25px;
}

 header span{
  font-size: 3em;
  font-weight: bold;
 }
 /* intestazione */


  /* menù */
 .menù{
  margin-top: 50px;
  
  padding: 20px;
 }

 .aggiungi{
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
 }

 #task{
  background-color: rgb(71,173,241);
  border: 2px solid rgb(71,173,241);
  color: white;
 }

 #section{
  background-color: white;
  border: 2px solid lightgray;
  color: lightgray;
 }
 /* .menù */

/* contenuto */
 #contenuto{
  color: rgb(67,71,80);
  padding-left: 50px;

 }
 .area{
  display: inline-block;
  font-size:20px;
  font-weight: bold;

 
  
 }
 .freccetta{
  font-size: 40px;
  display: inline-block;
  height: 35px;
  vertical-align: middle;
 }
  
 ul{
  list-style: none;
  margin-bottom: 20px;
 }
 li{
  margin-bottom: 15px;
  font-weight: bold;
 }
 li div{
  border-radius: 50%;
  padding: 1px 5px;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.6em;   

}
 .check {
  color:rgb(104,194,172);
  border: 1px solid rgb(104,194,172);
  

 }  
 .cross{
  color: rgb(236,92,84);
  border: 1px solid rgb(236,92,84);

 }

 
  

 